
<div class="main-container" >
  <div class="sidebar">
    <div class="filters">
      <h3 style="text-align: center;">{{ 'FILTERS.TITLE' | translate }}</h3>
      
      <div >
        <label style="" for="productName">{{ 'FILTERS.PRODUCT_NAME' | translate }}:</label>
        <input type="text" id="productName" [(ngModel)]="selectedProductName" (input)="filterProducts() " />
        <i class="fas fa-search"  style="color:#fb9734; font-size:x-large;margin-left: 8px;"></i>
      </div>
      
      
      <div>
        <label for="category" style="">{{ 'CATEGORY' | translate }}:</label>
        <select id="category" [(ngModel)]="selectedCategory" (change)="filterProducts()">
          <option style="" value="all">{{ 'ALL' | translate }}</option>
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.displayName }}
          </option>
        </select>
      </div>
      
      
      <div>
        <label style="" for="price">{{ 'PRICE' | translate }}:</label>
        <input type="range" id="price" min="10" max="1000000" [(ngModel)]="selectedPrice" (input)="filterProducts()" />
        <p style="">{{ 'MAX_PRICE' | translate }}: {{ selectedPrice }}</p>
      </div>
      
      <div class="filter-container discount-container">
        <label for="discount" class="filter-label" style="">{{ 'FILTERS.DISCOUNT' | translate }}:</label>
        <div class="input-group">
          <input type="number" id="discount" [(ngModel)]="minDiscount" class="filter-input" [placeholder]="'FILTERS.ENTER_DISCOUNT' | translate" />
          <button (click)="filterProducts()" class="filter-button">{{ 'FILTERS.APPLY_FILTER' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
