<div>
  <img src="/img/halan.jpg" alt="" style="
      padding-top: 15px;
      width: 100%;
      padding-left: 10%;
      padding-right: 10%;
    " />
</div>

<div style="
    display: flex;
    flex-direction: row;
    height: 120px;
    margin-left: 9%;
    margin-right: 9%;
    justify-content: space-around; 
    overflow-x: auto;
    overflow-y: hidden;
">
  <div class="rectangle" style="width: 250px; margin-right: 10px; text-align: center;">
    <img src="/img/cor.png" style="width: 120px; height: auto;" />
    <div style="margin: 3px">{{ 'CORPORATE' | translate }}</div>
  </div>
  <div class="rectangle" style="width: 250px; margin-right: 10px; text-align: center;">
    <img src="/img/cor.png" style="width: 120px; height: auto;" />
    <div style="margin: 3px">{{ 'DELIVERY' | translate }}</div>
  </div>
  <div class="rectangle" style="width: 250px; margin-right: 10px; text-align: center;">
    <img src="/img/cor.png" style="width: 120px; height: auto;" />
    <div style="margin: 3px">{{ 'TECHNOLOGIES' | translate }}</div>
  </div>
  <div class="rectangle" style="width: 250px; margin-right: 10px; text-align: center;">
    <img src="/img/cor.png" style="width: 120px; height: auto;" />
    <div style="margin: 3px">{{ 'ASSOCIATIONS' | translate }}</div>
  </div>
</div>
