<script src="https://www.paypal.com/sdk/js?client-id=ARFZBh8mKSD93LW_PDqOEljXHa5YyIdnWkm_p4Z8ijcJiVjpPAll-tjZc15yse8E2D4lTTbflbcHrwOP&currency=USD"></script>
<div style="width: 30%; margin-left: 30%;"><ngx-paypal [config]="payPalConfig"></ngx-paypal></div>

<!-- <ngx-paypal [config]="payPalConfig"></ngx-paypal> -->

<!-- <div class="table-responsive" *ngIf="order && order.orderItems">
    <table class="table table-striped order-table">
      <thead>
        <tr>
          <th>Quantity</th>
          <th>Payment Type</th>
          <th>Total Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of order.orderItems">
          <td>{{ item.quantity }}</td>
          <td> {{order.paymentType}}</td>
          <td>{{ order.totalAmount }}</td>
        </tr>
      </tbody>
    </table>
</div> -->