<footer class="container-fluid  text-white " style="background-color: #272723; ">
  <section class="mb-4 p-4">
    <h5>{{ 'footer.beFirstToKnow' | translate }}</h5>
    <p>{{ 'footer.subscribeMessage' | translate }}</p>
  </section>

  <section>
    <form action="">
      <div class="row d-flex justify-content-center">
        <div class="col-md-5 col-12">
          <div class="form-outline form-white input-group mb-4" [dir]="currentLang === 'ar' ? 'rtl' : 'ltr'">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn text-white">{{ 'footer.subscribe' | translate }}</button>
          </div>
          
        </div>
      </div>
    </form>
  </section>

  <div class="row">
    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-md-0 no-margin-sm">
      <div class="block-title">
        <h5>{{ 'footer.contactUs.title' | translate }}</h5>
      </div>
      <ul class="list-unstyled mb-0">
        <li><a style="color: #FFFFFF" href="https://2b.com.eg/en/about-us/"
            title="{{ 'footer.contactUs.aboutUs' | translate }}">{{ 'footer.contactUs.aboutUs' | translate }}</a></li>
        <li><a style="color: #FFFFFF" href="https://2b.com.eg/en/contact-us/"
            title="{{ 'footer.contactUs.contactUsLink' | translate }}">{{ 'footer.contactUs.contactUsLink' | translate
            }}</a></li>
        <li>
          <p style="color: #FFFFFF; text-transform:uppercase;"><b>{{ 'footer.contactUs.phone' | translate }}</b> <a
              href="tel:16420">{{ 'footer.contactUs.phoneNumber' | translate }}</a></p>
        </li>
        <li>
          <p style="color: #FFFFFF; text-transform:uppercase;"><b>{{ 'footer.contactUs.email' | translate }}</b><a
              href="mailto:tobeegypt.com.eg">{{ 'footer.contactUs.emailAddress' | translate }}</a></p>
        </li>
      </ul>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      <div class="block-title">
        <h5>{{ 'footer.myAccount.title' | translate }}</h5>
      </div>
      <ul class="list-unstyled mb-0">
        <li><a href="https://2b.com.eg/en/customer/account/">{{ 'footer.myAccount.myProfile' | translate }}</a></li>
        <li><a [routerLink]="['/order-list']">{{ 'footer.myAccount.orderHistory' | translate }}</a></li>
        <li><a href="https://2b.com.eg/en/sales/guest/form/" title="{{ 'footer.myAccount.trackOrder' | translate }}">{{
            'footer.myAccount.trackOrder' | translate }}</a></li>
      </ul>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      <div class="block-title">
        <h5>{{ 'footer.mostSearched.title' | translate }}</h5>
      </div>
      <ul class="list-unstyled mb-0">
        <li><a href="https://2b.com.eg/en/computers/laptops.html">{{ 'footer.mostSearched.laptops' | translate }}</a>
        </li>
        <li><a href="https://2b.com.eg/en/mobile-and-tablet/mobiles.html">{{ 'footer.mostSearched.mobilePhones' |
            translate }}</a></li>
        <li><a href="https://2b.com.eg/en/accessories/wearables.html">{{ 'footer.mostSearched.smartWatches' | translate
            }}</a></li>
        <li><a href="https://2b.com.eg/en/home-appliances/personal-care/for-him.html">{{
            'footer.mostSearched.personalCare' | translate }}</a></li>
        <li><a href="https://2b.com.eg/en/accessories/tv-accessories.html">{{ 'footer.mostSearched.tvAccessories' |
            translate }}</a></li>
      </ul>
    </div>
  </div>

  <hr style="color: #63635a;">

  <div class="col-md-12">
    <div class="block-bottom">
      <div class="row">
        <div class="col-md-3 social-icons social-icons2 mb-3">
          <a class="socials facebook" href="https://www.facebook.com/2BEgypt/" title="Facebook" target="_blank"><i
              class="fab fa-facebook-f"></i></a>
          <a class="socials linkedin" href="https://www.linkedin.com/company/2b-egypt/about/" title="Linkedin"
            target="_blank"><i class="fab fa-linkedin"></i></a>
          <a class="socials instagram" href="https://www.instagram.com/2begypt" title="Instagram" target="_blank"><i
              class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center bg-black p-3">
    <div class="d-flex justify-content-between flex-wrap">
        <div id="payments-methods">
            <img class="py_img" style="max-height: 35px; max-width: 100%; height: auto;"
                src="https://smhttp-ssl-73217.nexcesscdn.net/pub/media/wysiwyg/October_2023/Payments_Methods.png" alt="">
        </div>
        <address>{{ 'footer.copyright' | translate }}</address>
    </div>
</div>

</footer>
