<div class="container-fluid py-3 " style="margin:5% 0;">
  <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
    <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev" >
      <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    
    <div class="carousel-inner" >
      <div *ngFor="let productGroup of productGroups; let i = index" class="carousel-item" [ngClass]="{ 'active': i === 0 }">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
          <div *ngFor="let product of productGroup" class="col">
            <div class="card h-100 text-center border-0">
              <img [src]="product.images.length > 0 ? product.images[0].imageUrl : 'img/placeholder.png'" 
                   class="card-img-top" alt="Product Image" style="height: 200px; object-fit: contain;">
              <div class="card-body">
                <span class="badge bg-danger"> {{ product.discount }}% off </span>
                <div style="text-align: center;" class="card-title">{{ getLocalizedProductName(product) }}</div>
                <p class="card-text">
                  <span class="text-muted text-decoration-line-through">{{ product.price| currency }}</span>
                  <br>
                  <span >{{ product.price - (product.price * product.discount) / 100 | currency }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
